
.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1150px) {
  .container {
    width: 95% !important;
  }
}

@media only screen and (max-width: 420px) {
  .container {
    width: 85% !important;
  }
}